<div class="card">
  <h2>Create a new Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      Title <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Theme <br>
      <select name="theme" id="theme" [formControlName]="'theme'">
          <option value="">--Please choose a theme--</option>
          <option value="Actor">Actor</option>
          <option value="eSport">eSport</option>
          <option value="KJBi">KJBi</option>
          <option value="Anime">Anime</option>
          <option value="House">House</option>
          <option value="Geography">Geography</option>
      </select>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
 <!--<br><br>{{quizForm.getRawValue() | json}} -->