@import '../../../styles/card.scss';

h2 {
    // Add some CSS here! What if you try to change the background?
    margin-bottom: 0.3em;
}

.italic{
  font-style: italic; 
}
.date1{
  font-size: small;
  font-style: italic; 
}
//.button-card{

//}

.button-list{
  display:flex;
  justify-content: space-around;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}